h1 {
    font-family: 'Inter', sans-serif;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

body {
    font-family: 'Inter', sans-serif;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}