/* for the header on the results page "meals with..." */
header {
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    color: black;
    border-radius: 4px;
}

/* body styling */
body {
    font-family: Inter, sans-serif;
    line-height: 1.5;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
    place-items: center; /*center grid items both horizontally and vertically within their grid cells*/
}

/* used ChatGPT to help with formatting as I was having issues with content being cut-off
/* It recommended using max width and setting the margin to 0 auto to center elements horizontally inside their parent container*/
/* controls screen width */
main {
    max-width: 1200px;
    margin: 0 auto;
}

/* makes a grid */
/* Used this WebPage to figure out how to make columns and a grid for my meal cards:
    https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout/Basic_concepts_of_grid_layout */
.meal-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

/* creates the meal card boxes */
.meal-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Used ChatGPT to figure out how to make a box shadow*/
    overflow: hidden;
    text-align: center;
    padding: 15px;
}

/*styling for the meal card heading */
.meal-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0a3c55; /* makes the names of each meal blue! */
}

.meal-card img {
    width: 100%;  /*this helps image will stretch or shrink to fit the width of its container when auto is used for height*/
    height: auto;
    border-radius: 8px; /*rounds the corners of image*/
    margin-bottom: 15px;
}

/* Styling for the instructions, area, category text */
.meal-card p {
    font-size: 14px;
    margin: 10px ;
    font-family: Inter, sans-serif;
    color: black ;
}

/* for the box around the question and input box on the index page */
.search-container {
    background-color: #fff;
    padding: 40px; /*creating space around the question and input box*/
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Again used ChatGPT to figure out how to make a box shadow*/
    width: 100%;
    max-width: 480px;
    text-align: center;
}

/* for the search button on the index page */
button {
    background-color: #11557C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
}

/* for the input box on the index page */
input[type="text"] {
    padding: 12px 20px;
    font-size: 16px;
    border: 1px solid #86989B;
    border-radius: 8px;
    width: 80%; /*made width less so that search bar and input box were right next to each other*/
    box-sizing: border-box;
    margin-bottom: 10px;
}