<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Meals</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
   <div class="form-container">
        <h1>What Ingredient Would You Like to Cook With?</h1>
        {% if error_message %}
            <p style="color: red;"> {{ error_message }} </p>
        {% endif %}
        <form method="POST" action="/results">
            <input type="text" name="ingredient" id="ingredient" placeholder="Enter an ingredient..." required>
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>

